<div class='container'>
	<%= form_for @avaluo_rural, html: {class: "avaluo-form"} do |f| %>
		<h1>Datos del cliente</h1>

		<div class=form-group>
			<%= f.label :cctype,"Tipo de identificación: " %><br>
			<%= f.select :cctype, AVALUOS_RURALS['TYPE'].collect {|p| [p]},  {include_blank: true}%>
		</div>
	  
	 	<div class=form-group>
	 		<%= f.label :document_number, 'Número de documento: ' %>
			<%= f.text_field :document_number, class: 'form-control' %>
	 	</div>
	  
	  <div class=form-group>
		  <%= f.label :first_name,"Primer Nombre: " %><br>
		  <%= f.text_field :first_name,class: 'form-control' %>
	  </div>

	  <div class=form-group>
		  <%= f.label :second_name,"Segundo Nombre: " %><br>
		  <%= f.text_field :second_name,class: 'form-control' %>
	  </div>
	 
	  <div class=form-group>
	  	<%= f.label :last_name,"Primer Apellido: " %><br>
	  	<%= f.text_field :last_name, class: 'form-control' %>
	  </div>
	  	
	  <div class=form-group>
	  	<%= f.label :s_surname, "Segundo Apellido: " %><br>
	  	<%= f.text_field :s_surname, class: 'form-control' %>
	  </div>

	  <div class=form-group>
	  	<%= f.label :cellphone, "Celular: " %><br>
	  	<%= f.text_field :cellphone, class: 'form-control' %>
	  </div>

	  <div class=form-group>
	  	<%= f.label :email, "Correo Electrónico: " %><br>
	  	<%= f.text_field :email, class: 'form-control' %>
	  </div>

	  <div class=form-group>
	  	<%= f.label :claimant_address, "Dirección del solicitante:" %><br>
	  	<%= f.label "avaluo_rural[tvia]", "Tipo de via" %><br>
	  	<%= select_tag "avaluo_rural[tvia]", options_for_select(AVALUOS_RURALS['TVIA'].collect {|p| [p]}, @avaluo_rural.claimant_address.nil? ? "" : @avaluo_rural.claimant_address['tipo_via']) %>
	  	
	  	<div>
	  		<%= f.label "avaluo_rural[via]", "Via:" %>
				<%= text_field_tag "avaluo_rural[via]" , @avaluo_rural.claimant_address.nil? ? "" : @avaluo_rural.claimant_address['via'], { class: 'form-control'} %>
	  	</div>
			
			<div>
				<%= f.label "avaluo_rural[compvia]", "Complemento Via:" %>
				<%= text_field_tag "avaluo_rural[compvia]" , @avaluo_rural.claimant_address.nil? ? "" : @avaluo_rural.claimant_address['compvia'], { class: 'form-control' } %>
			</div>
	  	<div>
	  		<%= f.label "avaluo_rural[num]", "Numero:" %>
	  		<%= text_field_tag "avaluo_rural[num]" , @avaluo_rural.claimant_address.nil? ? "" : @avaluo_rural.claimant_address['num'], { class: 'form-control' } %>
	  	</div>

	  	<div>
	  		<%= f.label  "avaluo_rural[compnum]", "	Complemento Numero:" %>
	  		<%= text_field_tag "avaluo_rural[compnum]" , @avaluo_rural.claimant_address.nil? ? "" : @avaluo_rural.claimant_address['compnum'], { class: 'form-control' } %>
	  	</div>

	  	<div>
	  		<%= f.label "avaluo_rural[placa]", "Placa" %>
	  		<%= text_field_tag "avaluo_rural[placa]" , @avaluo_rural.claimant_address.nil? ? "" : @avaluo_rural.claimant_address['placa'], { class: 'form-control' } %>
	  	</div>

	  	<div>
	  		<%= f.label "avaluo_rural[adicional]", "Adicional" %>
	  		<%= text_field_tag "avaluo_rural[adicional]" , @avaluo_rural.claimant_address.nil? ? "" : @avaluo_rural.claimant_address['placa'], { class: 'form-control' } %>
	  	</div>	   
	  </div>

	  <div class=form-group>
	  	<%= f.label :claimant_department, "Departamento del solicitante: " %><br>
	  	<%= f.select :claimant_department, AVALUOS_RURALS['DEPARTMENT'].collect {|p| [p]}, {include_blank: true} %>
	  </div>

	  <div class=form-group>
	  	<%= f.label :claimant_city, "Ciudad del solicitante: " %><br>
			<%= f.select :claimant_city, AVALUOS_RURALS['CITIES'].collect {|p| [p]}, {include_blank: true} %>
	  </div>

	 	<div class="row">
	 		<h1>Ubicacion del inmueble</h1>
			<div class= "titulation-form">
				<% if @avaluo_rural.titulation.nil? %>
	  			<%= f.fields_for :titulation, @avaluo_rural.build_titulation do |titu|%>
	  				<% render "titulations", titu: titu %>
	  			<% end %>
	  		<% else %>
	  		<%= f.fields_for :titulation, @avaluo_rural.titulation do |titu|%>
	  			<% render "titulations", titu: titu %>
	  		<% end  %>
	  	<% end %>
		</div>

		<div class="row">
	 		<h1>Información de construcción</h1>
			<div class= "titulation-form">
				<% if @avaluo_rural.construction.nil? %>
	  			<%= f.fields_for :construction, @avaluo_rural.build_construction do |const|%>
	  				<% render "construction", const: const %>
	  			<% end %>
	  		<% else %>
	  		<%= f.fields_for :construction, @avaluo_rural.construction do |const|%>
	  			<% render "construction", const: const %>
	  		<% end  %>
	  	<% end %>
		</div>
	  
  	
		<div class="row">
	 		<h1>Información de neighborhood</h1>
			<div class= "titulation-form">
				<% if @avaluo_rural.neighborhood.nil? %>
	  			<%= f.fields_for :neighborhood, @avaluo_rural.build_neighborhood do |neighborhood|%>
	  				<% render "neighborhood", neighborhood: neighborhood %>
	  			<% end %>
	  		<% else %>
	  		<%= f.fields_for :neighborhood, @avaluo_rural.neighborhood do |neighborhood|%>
	  			<% render "neighborhood", neighborhood: neighborhood %>
	  		<% end  %>
	  	<% end %>
		</div>
	  

		<div class=form-group>
	  	<%= f.submit%>
	  </div>
	<% end %>
</div>
