<div class="row container">
	<div class="row">
		<h4 class= "col-md-2 text-center">Alcantarillado</h1>
		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :alcantasector, "Sector"	%>
				<div class="alcantasec toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.alcantasector.nil? ? false : !neighborhood.object.alcantasector.to_i.zero? %>"></div>
				<%= neighborhood.check_box :alcantasector, class: "alsector", hidden: true %>		
			</div>
		</div>

		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :alcantapredio, "Predio"	%>
				<div class="alcantapre toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.alcantapredio.nil? ? false : !neighborhood.object.alcantapredio.to_i.zero? %>"></div>
				<%= neighborhood.check_box :alcantapredio, class: "alpredio", hidden: true %>	
				</div>
		</div>
		
		<div class="col-md-3 text-center">
			<%= neighborhood.label :estrato, "Estrato:"	%>
			<%= neighborhood.select :estrato, AVALUOS_RURALS['ESTRATO'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	

			<div class="col-md-3">
			<%= neighborhood.label :evias, "Estado de las vias:"	%>
			<%= neighborhood.select :evias, AVALUOS_RURALS['VENTILAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>				
	</div>
	<br>
	<!-- Acueducto row -->

	<div class="row">
		<h4 class= "col-md-2 text-center">Acueducto</h1>
		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :acueducsector, "Sector"	%>
				<div class="acuesector toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.acueducsector.nil? ? false : !neighborhood.object.acueducsector.to_i.zero? %>"></div>
				<%= neighborhood.check_box :acueducsector, class: "acsector", hidden: true %>		
			</div>
		</div>

		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :acueducpredio, "Predio"	%>
				<div class="acuepredio toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.acueducpredio.nil? ? false : !neighborhood.object.acueducpredio.to_i.zero? %>"></div>
				<%= neighborhood.check_box :acueducpredio, class: "acpredio", hidden: true %>	
				</div>
		</div>
		
		<div class="col-md-3 text-center">
			<%= neighborhood.label :blegal, "Barrio Legal:"	%>
			<div class="barriolegal toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.blegal.nil? ? false : !neighborhood.object.blegal.to_i.zero? %>"></div>
				<%= neighborhood.check_box :blegal, class: "blegal", hidden: true %>
		</div>	

			<div class="col-md-3">
			<%= neighborhood.label :vpavimentadas, "Vias pavimentadas: "	%>
			<div class="vipavimentada toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.vpavimentadas.nil? ? false : !neighborhood.object.vpavimentadas.to_i.zero? %>"></div>
				<%= neighborhood.check_box :vpavimentadas, class: "vpavimenta", hidden: true %>
		</div>				
	</div>
	<br>
	<!-- Gas row -->
	<div class="row">
		<h4 class= "col-md-2 text-center">Gas</h1>
		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :gassector, "Sector"	%>
				<div class="gasector toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.gassector.nil? ? false : !neighborhood.object.gassector.to_i.zero? %>"></div>
				<%= neighborhood.check_box :gassector, class: "gsector", hidden: true %>		
			</div>
		</div>

		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :gaspredio, "Predio"	%>
				<div class="gapredio toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.gaspredio.nil? ? false : !neighborhood.object.gaspredio.to_i.zero? %>"></div>
				<%= neighborhood.check_box :gaspredio, class: "gpredio", hidden: true %>	
				</div>
		</div>
		
		<div class="col-md-3 text-center">
			<%= neighborhood.label :toposector, "Topografía del sector: "	%>
				<%= neighborhood.select :toposector, AVALUOS_RURALS['TOPOSECTOR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	

			<div class="col-md-3">
			<%= neighborhood.label :svias, "Sardineles en las vias: "	%>
			<div class="svias toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.svias.nil? ? false : !neighborhood.object.svias.to_i.zero? %>"></div>
				<%= neighborhood.check_box :svias, class: "sviasinput", hidden: true %>
		</div>				
	</div>

	<br>
		<!-- Telefono row -->
	<div class="row">
		<h4 class= "col-md-2 text-center">Telefono</h1>
		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :telsector, "Sector"	%>
				<div class="telsector toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.telsector.nil? ? false : !neighborhood.object.telsector.to_i.zero? %>"></div>
				<%= neighborhood.check_box :telsector, class: "tsector", hidden: true %>		
			</div>
		</div>

		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :telpredio, "Predio"	%>
				<div class="telpredio toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.telpredio.nil? ? false : !neighborhood.object.telpredio.to_i.zero? %>"></div>
				<%= neighborhood.check_box :telpredio, class: "tpredio", hidden: true %>	
				</div>
		</div>
		
		<div class="col-md-3 text-center">
			<%= neighborhood.label :transporte, "Transporte: "	%>
			<br>
			<%= neighborhood.select :transporte, AVALUOS_RURALS['VENTILAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	
			
			<div class="col-md-3 text-center">
			<%= neighborhood.label :condiciones, "Condiciones de salubridad: "	%>
				<%= neighborhood.select :condiciones, AVALUOS_RURALS['VENTILAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>					
	</div>

	<!-- Energia row -->

	<div class="row">
		<h4 class= "col-md-2 text-center">Energia</h1>
		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :energiasector, "Sector"	%>
				<div class="enesector toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.energiasector.nil? ? false : !neighborhood.object.energiasector.to_i.zero? %>"></div>
				<%= neighborhood.check_box :energiasector, class: "esector", hidden: true %>		
			</div>
		</div>

		<div class="col-md-2">
			<div class="on-off">
				<%= neighborhood.label :energiapredio, "Predio"	%>
				<div class="enepredio toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.energiapredio.nil? ? false : !neighborhood.object.energiapredio.to_i.zero? %>"></div>
				<%= neighborhood.check_box :energiapredio, class: "epredio", hidden: true %>	
				</div>
		</div>
		
		<div class="col-md-3 text-center">
			<%= neighborhood.label :andenes, "Andenes en las vias: : "	%>
			<br>
			<div class="andenvias toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.andenes.nil? ? false : !neighborhood.object.andenes.to_i.zero? %>"></div>
				<%= neighborhood.check_box :andenes, class: "anden", hidden: true %>
		</div>	
			
			<div class="col-md-3 text-center">
			<%= neighborhood.label :usector, "Uso Predominante del Sector: "	%>
				<%= neighborhood.select :usector, AVALUOS_RURALS['USOSECTOR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<br>

		<!-- Amoblamiento e impacto row -->
		<div class="row">
			<h4 class= 'col-md-6'>Amoblamiento urbano</h4>
			<h4 class= 'col-md-6'>Impacto ambiental negativo</h4>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :parques, "Parques"	%>
					<div class="nparques toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.parques.nil? ? false : !neighborhood.object.parques.to_i.zero? %>"></div>
					<%= neighborhood.check_box :parques, class: "parque", hidden: true %>		
				</div>
			</div>

			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :aire, "Aire"	%>
					<div class="naire toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.aire.nil? ? false : !neighborhood.object.aire.to_i.zero? %>"></div>
					<%= neighborhood.check_box :aire, class: "aire", hidden: true %>	
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :paradero, "Paradero"	%>
					<div class="nparquear toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.paradero.nil? ? false : !neighborhood.object.paradero.to_i.zero? %>"></div>
					<%= neighborhood.check_box :paradero, class: "parquear", hidden: true %>		
				</div>
			</div>

			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :basura, "Basura"	%>
					<div class="nbasura toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.basura.nil? ? false : !neighborhood.object.basura.to_i.zero? %>"></div>
					<%= neighborhood.check_box :basura, class: "basura", hidden: true %>	
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :alumbrado, "Alumbrado"	%>
					<div class="nalumbra toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.alumbrado.nil? ? false : !neighborhood.object.alumbrado.to_i.zero? %>"></div>
					<%= neighborhood.check_box :alumbrado, class: "alumbra", hidden: true %>		
				</div>
			</div>

			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :inseguridad, "Inseguridad"	%>
					<div class="ninseguri toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.inseguridad.nil? ? false : !neighborhood.object.inseguridad.to_i.zero? %>"></div>
					<%= neighborhood.check_box :inseguridad, class: "inseguri", hidden: true %>	
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :zverdes, "Zonas verdes públicas"	%>
					<div class="zverdes toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.zverdes.nil? ? false : !neighborhood.object.zverdes.to_i.zero? %>"></div>
					<%= neighborhood.check_box :zverdes, class: "verdes", hidden: true %>		
				</div>
			</div>

			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :ruido, "Ruido"	%>
					<div class="nruido toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.ruido.nil? ? false : !neighborhood.object.ruido.to_i.zero? %>"></div>
					<%= neighborhood.check_box :ruido, class: "ruido", hidden: true %>	
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :arborizacion, "Arborización"	%>
					<div class="narbori toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.arborizacion.nil? ? false : !neighborhood.object.arborizacion.to_i.zero? %>"></div>
					<%= neighborhood.check_box :arborizacion, class: "arbori", hidden: true %>		
				</div>
			</div>

			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :saguas, "Aguas Servidas"	%>
					<div class="nsaguas toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.saguas.nil? ? false : !neighborhood.object.saguas.to_i.zero? %>"></div>
					<%= neighborhood.check_box :saguas, class: "saguas", hidden: true %>	
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :alamedas, "Alamedas"	%>
					<div class="nalamedas toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.alamedas.nil? ? false : !neighborhood.object.alamedas.to_i.zero? %>"></div>
					<%= neighborhood.check_box :alamedas, class: "alamedas", hidden: true %>		
				</div>
			</div>

			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :otro, "Otro"	%>
					<div class="notro toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.otro.nil? ? false : !neighborhood.object.otro.to_i.zero? %>"></div>
					<%= neighborhood.check_box :otro, class: "otro", hidden: true %>	
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="on-off">
					<%= neighborhood.label :cicloruta, "Ciclo rutas"	%>
					<div class="nruta toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.cicloruta.nil? ? false : !neighborhood.object.cicloruta.to_i.zero? %>"></div>
					<%= neighborhood.check_box :cicloruta, class: "ruta", hidden: true %>		
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<h3>Perspectivas de valorización</h3>
			<div class="col-md-12">
				<%= neighborhood.text_field :pvalorizacion, class: 'form-control' %>
			</div>
			
		</div>
	

</div>
