<div class="row container">
	<div class="row">
		<h4 class= "col-md-2 text-center">Alcantarillado</h1>
		<div class="col-md-2">
			<div class="on-off">
					<%= neighborhood.label :alcantarillado, "Sector"	%>
					<div class="alcanta toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.alcantarillado.nil? ? false : !neighborhood.object.alcantarillado['sector'].to_i.zero? %>"></div>

					<%= check_box_tag "avaluo_rural[neighborhood_attributes][sector]", @avaluo_rural.neighborhood.alcantarillado.nil? ? "" : @avaluo_rural.neighborhood.alcantarillado['sector'] , false, {class: "alcantarillado"}  %>	
				</div>
		</div>

		<div class="col-md-2">
			<div class="on-off">
					<%= neighborhood.label :blegal, "Legal"	%>
					<div class="legal toggle-modern" data-toggle-on="<%= @avaluo_rural.neighborhood.nil? ? false : !neighborhood.object.blegal.to_i.zero? %>"></div>

					<%= neighborhood.check_box :blegal, class: "legals" %>	
				</div>
		</div>
		
		<div class="col-md-3 text-center">
			<%= neighborhood.label :estrato, "Estrato:"	%>
			<%= neighborhood.select :estrato, AVALUOS_RURALS['ESTRATO'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	

			<div class="col-md-3">
			<%= neighborhood.label :evias, "Estado de las vias:"	%>
			<%= neighborhood.select :evias, AVALUOS_RURALS['VENTILAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>				
	</div>

	
		
	</div>

</div>

