<div class="row">
	<div class="row">

		<div class= "col-md-4">
			<%= const.label :econstruction, "Estado de la construcción"	%>
			<%= const.select :econstruction,AVALUOS_RURALS['ESTADO'].collect {|p| [p]}, {include_blank: true} %>
		</div>

		<div class= "col-md-4">
			<%= const.label :remodelado, "Remodelado"	%>
			<div class="remodelar toggle-modern" data-toggle-on="<%= !const.object.cobra.to_i.zero? %>"></div>
			<%= const.check_box :remodelado, class: "remodelado", hidden: true %>		
		</div>

		<div class= "col-md-4">
			<%= const.label :conservar, "Estado de la Conservación"	%>
			<%= const.select :conservar,AVALUOS_RURALS['ESTADO'].collect {|p| [p]}, {include_blank: true} %>
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= const.label :npisos, "Número de pisos:"	%>
			<%= const.text_field :npisos, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :sotanos, "Número de sotanos:"	%>
			<%= const.text_field :sotanos, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<div class="on-off">
				<%= const.label :cobra, "En obra?"	%>
				<div class="toggle toggle-modern" data-toggle-on="<%= !const.object.cobra.to_i.zero? %>"></div>
				<%= const.check_box :cobra, class: "cobra", hidden: true %>		
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :años, "Año de construcción:"	%>
			<%= const.text_field :años, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :vetustez, "Vetustez"	%>
			<%= const.text_field :vetustez, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :pisos, "Número de sotanos:"	%>
			<%= const.select :pisos, AVALUOS_RURALS['PISOS'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :estructura, "Estructura"	%>
			<%= const.select :estructura, AVALUOS_RURALS['ESTRUCTURA'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :sismoresistente, "Ajustes Sismoresistente:"	%>
			<%= const.select :sismoresistente, AVALUOS_RURALS['SISMO'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :cubierta, "Cubierta:"	%>
			<%= const.select :cubierta, AVALUOS_RURALS['CUBIERTA'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= const.label :fachada, "Fachada:"	%>
			<%= const.select :fachada, AVALUOS_RURALS['FACHADA'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :tfachada, "Tipo de fachada:"	%>
			<%= const.select :tfachada, AVALUOS_RURALS['TFACHADA'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :reforzada, "Estructura reforzada:"	%>
			<%= const.select :reforzada, AVALUOS_RURALS['REFORZADA'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= const.label :daños, "Daños:"	%>
			<%= const.select :daños, AVALUOS_RURALS['Daños'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :material, "Material de construcción:"	%>
			<%= const.select :material, AVALUOS_RURALS['MATERIAL'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :iluminar, "Iluminación:"	%>
			<%= const.select :iluminar, AVALUOS_RURALS['ILUMINAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-3">
			<%= const.label :testructura, "Material o Tipo de estructura:"	%>
			<%= const.select :testructura, AVALUOS_RURALS['TESTRUCTURA'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-3">
			<%= const.label :ventilar, "Ventilación:"	%>
			<%= const.select :ventilar, AVALUOS_RURALS['VENTILAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class="col-md-3">
			<%= const.label :planta, "Irregularidad Planta: "	%>
			<%= const.select :planta, AVALUOS_RURALS['IRREGULAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	
		<div class="col-md-3">
			<%= const.label :altura, "Irregularidad Altura: "	%>
			<%= const.select :altura, AVALUOS_RURALS['IRREGULAR'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>	
	</div>
	<h4 class='text-left titu-margin'><b>Dependencias</b></h4>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :habitacion, "Habitaciones:"	%>
			<%= const.text_field :habitacion, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :ehabitacion, "Estar habitaciones: "	%>
			<%= const.text_field :ehabitacion, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :shabitacion, "Cuartos servicio: "	%>
			<%= const.text_field :shabitacion, class: 'form-control' %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :closet, "Closets:"	%>
			<%= const.text_field :closet, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :sala, "Salas: "	%>
			<%= const.text_field :sala, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :comedor, "Comedores"	%>
			<%= const.text_field :comedor, class: 'form-control' %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :pribanos, "Baños privados:"	%>
			<%= const.text_field :pribanos, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :socibanos, "Baños sociales:"	%>
			<%= const.text_field :socibanos, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :serbanos, "Baños servicio:"	%>
			<%= const.text_field :serbanos, class: 'form-control' %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :cocina, "Cocinas:"	%>
			<%= const.text_field :cocina, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :estudio, "Estudios:"	%>
			<%= const.text_field :estudio, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :balcon, "Balcones:"	%>
			<%= const.text_field :balcon, class: 'form-control' %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :terraza, "Terrazas:"	%>
			<%= const.text_field :terraza, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :patiointer, "Patios internos:"	%>
			<%= const.text_field :patiointer, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :jardin, "Jardines:"	%>
			<%= const.text_field :jardin, class: 'form-control' %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= const.label :zonaropa, "Zonas de ropas:"	%>
			<%= const.text_field :zonaropa, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :zonaverde, "Zonas verdes privadas:"	%>
			<%= const.text_field :zonaverde, class: 'form-control' %>
		</div>
		<div class="col-md-4">
			<%= const.label :locales, "Locales:"	%>
			<%= const.text_field :locales, class: 'form-control' %>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= const.label :oficina, "Oficinas:"	%>
			<%= const.text_field :oficina, class: 'form-control' %>
		</div>
		<div class="col-md-6">
			<%= const.label :bodega, "Bodegas:"	%>
			<%= const.text_field :bodega, class: 'form-control' %>
		</div>
	</div>
	<h4 class='text-left'><b>Acabados</b></h4>
	<h5>Estados</h5>
	<div class="row">
		<div class="col-md-3">
			<%= const.label :construction['cpisos'],"Estado Pisos: " %>
			<%= select_tag "rural[construction_attributes][cpisos]", options_for_select(AVALUOS_RURALS['PACABADO'].collect {|p| [p]}, @rural.construction.estado.nil? ? "" : @rural.construction.estado['cpisos']), {include_blank: true} %>
		</div>
		<div class="col-md-3">
			<%= const.label :construction['cmuroscmuros'],"Estado Muros: " %>
			<%= select_tag "rural[construction_attributes][cmuros]", options_for_select(AVALUOS_RURALS['PACABADO'].collect {|p| [p]}, @rural.construction.estado.nil? ? "" : @rural.construction.estado['cmuros']),{include_blank: true} %>
		</div>
		<div class="col-md-3">
			<%= const.label :construction['ctechos'],"Estado Techos: " %>
			<%= select_tag "rural[construction_attributes][ctechos]", options_for_select(AVALUOS_RURALS['PACABADO'].collect {|p| [p]}, @rural.construction.estado.nil? ? "" : @rural.construction.estado['ctechos']),{include_blank: true} %>
		</div>
		<div class="col-md-3">
			<%= const.label :construction['cmadera'],"Estado C. Madera: " %>
			<%= select_tag "rural[construction_attributes][cmadera]", options_for_select(AVALUOS_RURALS['PACABADO'].collect {|p| [p]}, @rural.construction.estado.nil? ? "" : @rural.construction.estado['cmadera']),{include_blank: true} %>
		</div>
	</div>

	<div class="row">
				<div class="col-md-4">
			<%= const.label :construction['cmetal'],"Estado C.metal: " %>
			<%= select_tag "rural[construction_attributes][cmetal]", options_for_select(AVALUOS_RURALS['PACABADO'].collect {|p| [p]}, @rural.construction.estado.nil? ? "" : @rural.construction.estado['cmetal']),{include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :construction['cbanos'],"Estado Baños: " %>
			<%= select_tag "rural[construction_attributes][cbanos]", options_for_select(AVALUOS_RURALS['PACABADO'].collect {|p| [p]}, @rural.construction.estado.nil? ? "" : @rural.construction.estado['cbanos']),{include_blank: true} %>
		</div>
		<div class="col-md-4">
			<%= const.label :construction['ccocina'],"Estado Cocina: " %>
			<%= select_tag "rural[construction_attributes][ccocina]", options_for_select(AVALUOS_RURALS['PACABADO'].collect {|p| [p]}, @rural.construction.estado.nil? ? "" : @rural.construction.estado['ccocina']),{include_blank: true} %>
		</div>
	</div>

	<div class="row">
		<h5>Calidad</h5>
		<div class="col-md-3">
			<%= const.label :rpisos,"Calidad pisos: " %>
			<%= const.select :rpisos, AVALUOS_RURALS['RCALIDAD'].collect {|p| [p]},
			 {include_blank: true} %>	
		</div>
		<div class="col-md-3">
			<%= const.label :rmuros,"Calidad muros: " %>
			<%= const.select :rmuros, AVALUOS_RURALS['RCALIDAD'].collect {|p| [p]},
			 {include_blank: true} %>	
		</div>
		<div class="col-md-3">
			<%= const.label :rtechos,"Calidad techos: " %>
			<%= const.select :rtechos, AVALUOS_RURALS['RCALIDAD'].collect {|p| [p]},
			 {include_blank: true} %>	
		</div>

		<div class="col-md-3">
			<%= const.label :rmadera,"Calidad C.Madera: " %>
			<%= const.select :rmadera, AVALUOS_RURALS['RCALIDAD'].collect {|p| [p]},
			 {include_blank: true} %>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= const.label :rmetal,"Calidad C. Metal: " %>
			<%= const.select :rmetal, AVALUOS_RURALS['RCALIDAD'].collect {|p| [p]},
			 {include_blank: true} %>	
		</div>

		<div class="col-md-4">
			<%= const.label :rbanos,"Calidad Baños: " %>
			<%= const.select :rbanos, AVALUOS_RURALS['RCALIDAD'].collect {|p| [p]},
			 {include_blank: true} %>	
		</div>

		<div class="col-md-4">
			<%= const.label :rcocina,"Calidad cocina: " %>
			<%= const.select :rcocina, AVALUOS_RURALS['RCALIDAD'].collect {|p| [p]},
			 {include_blank: true} %>	
		</div>
	</div>

	<div class="row">
		<h4 class='text-left'><b>Garajes</b></h1>
		<div class='text-left'>
			<%= const.label :tgaraje, "Tipo de Garaje:"	%>
			<%= const.select :tgaraje, AVALUOS_RURALS['TGARAJE'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div>
			<%= const.label :observacion, "Observaciones garajes:"	%>
			<%= const.text_field :observacion, class: 'form-control' %>
		</div>
	</div>

	<div class="row">
		<h4 class='text-left'><b>Depositos</b></h1>
		<div class= 'col-md-5'>
			<%= const.label :privado, "Privado:"	%>
			<%= const.select :privado, AVALUOS_RURALS['ESTRATO'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class= 'col-md-5'>
			<%= const.label :exclusivo, "Exclusivo:"	%>
			<%= const.select :exclusivo, AVALUOS_RURALS['ESTRATO'].collect {|p| [p]},
			 {include_blank: true} %>
		</div>
		<div class= 'col-md-2'>
			<%= const.label :total, "Total depositos:"	%>
			<%= const.text_field :total, class: 'form-control' %>
		</div>



		
	</div>
	

</div>

