<div class="panel-heading">  
  <%= form_for @rural, html: {class: "avaluo-form panel-body"} do |f| %>
    <div class='row text-right'>
        <%= f.label :estado, "Estado" , class: 'bold-estado' %>
        <%= f.select :estado, AVALUOS_RURALS['RESTADO'].collect {|p| [p]},  {include_blank: true}%>
    </div>
    <h1 class='text-center titles'>Información Básica</h1>
    <h4><b>Datos del cliente</b></h4>
    <div class="row">
      <div class='col-md-6 text-center'>
        <%= f.label :cctype,"Tipo de identificación: " %>
        <%= f.select :cctype, AVALUOS_RURALS['TYPE'].collect {|p| [p]},  {include_blank: true}%>
      </div>
    
      <div class='col-md-6 text-center'>
        <%= f.label :document_number, 'Número de documento: ' %>
        <%= f.text_field :document_number, class: 'form-control' %>
      </div>
      
    </div>
    
    <div class="row">
      <div class='col-md-6 text-center'>
       <%= f.label :first_name,"Primer Nombre: " %>
       <%= f.text_field :first_name,class: 'form-control' %>
     </div>

      <div class='col-md-6 text-center'>
        <%= f.label :second_name,"Segundo Nombre: " %>
        <%= f.text_field :second_name,class: 'form-control' %>
      </div>
      
    </div>
    
    <div class="row">
      <div class='col-md-6 text-center'>
       <%= f.label :last_name,"Primer Apellido: " %>
       <%= f.text_field :last_name, class: 'form-control' %>
      </div>
      
      <div class='col-md-6 text-center'>
        <%= f.label :s_surname, "Segundo Apellido: " %>
        <%= f.text_field :s_surname, class: 'form-control' %>
      </div>
      
    </div>
   
    <div class="row">
      <div class='col-md-6 text-center'>
        <%= f.label :cellphone, "Celular: " %>
        <%= f.text_field :cellphone, class: 'form-control' %>
      </div>

      <div class='col-md-6 text-center'>
        <%= f.label :email, "Correo Electrónico: " %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      
    </div>

    <div class="row">
      <div>
        <div class="row">
        <h4 class='text-left'><b>Dirección del solicitante</b></h4> 
        </div>

        <div class="row">
          <div class='col-md-6 text-center'>
            <%= f.label :claimant_department, "Departamento del solicitante: " %>
            <%= f.select :claimant_department, AVALUOS_RURALS['DEPARTMENT'].collect {|p| [p]}, {include_blank: true} %>
          </div>

          <div class= 'col-md-6 text-center'>
            <%= f.label :claimant_city, "Ciudad del solicitante: " %>
            <%= f.select :claimant_city, AVALUOS_RURALS['CITIES'].collect {|p| [p]}, {include_blank: true} %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-center">
            <%= f.label "rural[tvia]", "Tipo de via" %>
            <%= select_tag "rural[tvia]", options_for_select(AVALUOS_RURALS['TVIA'].collect {|p| [p]}, @rural.claimant_address.nil? ? "" : @rural.claimant_address['tipo_via']) %> 
          </div>
          <div class="col-md-2 text-center">
            <%= f.label "rural[via]", "Via:" %>
          <%= text_field_tag "rural[via]" , @rural.claimant_address.nil? ? "" : @rural.claimant_address['via'], { class: 'form-control'} %>
          </div>
          <div class="col-md-2 text-center">
            <%= f.label "rural[compvia]", "Complemento Via:" %>
            <%= text_field_tag "rural[compvia]" , @rural.claimant_address.nil? ? "" : @rural.claimant_address['compvia'], { class: 'form-control' } %>
          </div>
       
          <div class="col-md-2 text-center">
            <%= f.label "rural[num]", "Numero:" %>
            <%= text_field_tag "rural[num]" , @rural.claimant_address.nil? ? "" : @rural.claimant_address['num'], { class: 'form-control' } %>
          </div>

          <div class="col-md-2 text-center">
            <%= f.label  "rural[compnum]", "  Complemento Numero:" %>
            <%= text_field_tag "rural[compnum]" , @rural.claimant_address.nil? ? "" : @rural.claimant_address['compnum'], { class: 'form-control' } %>
          </div>

          <div class="col-md-1 text-center">
            <%= f.label "rural[placa]", "Placa" %>
            <%= text_field_tag "rural[placa]" , @rural.claimant_address.nil? ? "" : @rural.claimant_address['placa'], { class: 'form-control' } %>
          </div>

          <div class="col-md-1 text-center">
            <%= f.label "rural[adicional]", "Adicional" %>
            <%= text_field_tag "rural[adicional]" , @rural.claimant_address.nil? ? "" : @rural.claimant_address['placa'], { class: 'form-control' } %>
          </div>    
        </div>
      </div>
    </div>

    <div class="row">
      <h4 class='text-left'><b>Información de la entidad</b></h4>
      <div class='col-md-6 text-center'>
        <%= f.label :entidad, "Entidad" %>
        <%= f.text_field :entidad, class: 'form-control' %>
      </div>
      <div class= 'col-md-6 text-center'>
        <%= f.label :segmento, "Segmento" %>
        <%= f.text_field :segmento, class: 'form-control' %>
      </div>
      </div>
    <div>

    <div class="row">
      <h4 class='text-left'><b>Información del avaluo</b></h4>
      <div class='col-md-4'>
        <%= f.label :objecto, "Objeto del avalúo" %>
        <%= f.text_field :objecto, class: 'form-control' %>
      </div>
      <div class= 'col-md-4'>
        <%= f.label :motivo, "Motivo del avalúo:" %>
        <%= f.text_field :motivo, class: 'form-control' %>
      </div>
      <div class= 'col-md-4'>
        <%= f.label :credito, "Tipo Crédito:" %>
         <%= f.select :credito, AVALUOS_RURALS['CREDITO'].collect {|p| [p]}, {include_blank: true} %>
      </div>
    </div>
 
    <h1 class='text-center titu-margin titles'>Titulación</h1>
    <h4><b>Ubicacion del inmueble</b></h1>
      <div class= "titulation-form">
        <% if @rural.titulation.nil? %>
          <%= f.fields_for :titulation, @rural.build_titulation do |titu|%>
            <% render "titulations", titu: titu %>
          <% end %>
        <% else %>
        <%= f.fields_for :titulation, @rural.titulation do |titu|%>
          <% render "titulations", titu: titu %>
        <% end  %>
      <% end %>
    </div>


    <div>
      <h1 class='text-center titu-margin titles'>Información del Barrio</h1>
      <h4><b>Servicios públicos</b></h1>
      <div class= "titulation-form">
        <% if @rural.neighborhood.nil? %>
          <%= f.fields_for :neighborhood, @rural.build_neighborhood do |neighborhood|%>
            <% render "neighborhood", neighborhood: neighborhood %>
          <% end %>
        <% else %>
        <%= f.fields_for :neighborhood, @rural.neighborhood do |neighborhood|%>
          <% render "neighborhood", neighborhood: neighborhood %>
        <% end  %>
      <% end %>
    </div>

    <div>
      <h1 class='text-center titu-margin titles'>Información del inmueble</h1>
      <div class= "titulation-form">
        <% if @rural.property.nil? %>
          <%= f.fields_for :property, @rural.build_property do |property|%>
            <% render "property", property: property %>
          <% end %>
        <% else %>
        <%= f.fields_for :property, @rural.property do |property|%>
          <% render "property", property: property %>
        <% end  %>
      <% end %>
    </div>

    <div>
      <h1 class='text-center titu-margin titles'>Información del construcción</h1>
      <div class= "titulation-form">
        <% if @rural.construction.nil? %>
          <%= f.fields_for :construction, @rural.build_construction do |const|%>
            <% render "construction", const: const %>
          <% end %>
        <% else %>
        <%= f.fields_for :construction, @rural.construction do |const|%>
          <% render "construction", const: const %>
        <% end  %>
      <% end %>
    </div>

    <div>
      <h1 class='text-center titu-margin titles'>Valor razonable</h1>
      <div>
        <% if @rural.value.nil? %>
          <%= f.fields_for :value, @rural.build_value do |value|%>
            <% render "value", value: value %>
          <% end %>
        <% else %>
        <%= f.fields_for :value, @rural.value do |value|%>
          <% render "value", value: value %>
        <% end  %>
      <% end %>
    </div>

    <div>
      <%= f.submit class: 'btn btn-success titu-margin' %>
    </div>
  <% end %>
</div>




<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG25Xm2Cl8lAq10P9H_ROAPOBC0DtTTcs&callback=initMap" async defer></script>
