<div class=row>
	<div class='row'>
		<div class="col-md-6">
			<%= titu.label :depart, "Departamento"	%>
			<%= titu.select :depart, AVALUOS_RURALS['DEPARTMENT'].collect {|p| [p]}, {include_blank: true} %>
		</div>

		<div class="col-md-6">
			<%= titu.label :municipio, "Municipio:"	%>
			<%= titu.select :municipio, AVALUOS_RURALS['CITIES'].collect {|p| [p]}, {include_blank: true} %>
		</div>
	</div>
	
	  		
	<div class='row'>
		<div class="col-md-4">
			<%= titu.label :barrio, "Barrio:"	%>
			<%= titu.text_field :barrio, class: 'form-control' %>
		</div>

		<div class="col-md-4">
			<%= titu.label :conjunto, "Conjunto:"	%>
			<%= titu.text_field :conjunto, class: 'form-control' %>
		</div>

		<div class="col-md-4">
			<%= titu.label :sector, "Sector:"	%>
			<%= titu.select :sector, AVALUOS_RURALS['SECTOR'].collect {|p| [p]},{include_blank: true} %>
		</div>
	</div>

	<h4 class='text-left'><b>Direccion del inmueble</b></h4>
 		<div class='row'>
 			<div class="col-md-2">
		 		<%= titu.label :tvia, "Tipo de via" %>
		 		<%= titu.select :tvia, AVALUOS_RURALS['TVIA'].collect {|p| [p]},{include_blank: true} %>
			</div>	

			<div class= 'col-md-2'>
				<%= titu.label :via, "Via:" %>
				<%= titu.text_field :via, class: 'form-control' %>
			</div>

			<div class= 'col-md-2'>
				<%= titu.label :compvia, "Complemento Via:" %>
				<%= titu.text_field :compvia, class: 'form-control' %>
			</div>

			<div class= 'col-md-2'>
				<%= titu.label :num, "Numero:" %>
				<%= titu.text_field :num, class: 'form-control' %>
			</div> 					

 			<div class= 'col-md-2'>
 				<%= titu.label :compnum, "Complemento Num:" %>
				<%= titu.text_field :compnum, class: 'form-control' %>
			</div>

			<div class= 'col-md-1'>
				<%= titu.label :placa, "Placa:" %>
				<%= titu.text_field :placa, class: 'form-control' %>
			</div>

			<div class= 'col-md-1'>
				<%= titu.label :adicional, "Adicional:" %>
				<%= titu.text_field :adicional, class: 'form-control' %>
			</div>	   
 		</div>

 		<div class="row">
 			<div class="col-md-4">
	 			<%= titu.label :matrinmo, "Matricula inmobiliaria 1º:" %>
	 			<%= titu.text_field :matrinmo, class: 'form-control' %>
 			</div>

 			<div class="col-md-4">
	 			<%= titu.label :numescritura, "Número de escritura:" %>
	 			<%= titu.text_field :numescritura, class: 'form-control' %>
 			</div>

 			<div class="col-md-4">
	 			<%= titu.label :departescritura, "Departamento de escritura:" %>
	 			<%= titu.select :departescritura, AVALUOS_RURALS['DEPARTMENT'].collect {|p| [p]}, {include_blank: true}%>	
 			</div>
 		</div>

 		<div class="row">
 			<div class="col-md-4">
	 			<%= titu.label :sematrinmo, "Matricula inmobiliaria 2º:" %>
	 			<%= titu.text_field :sematrinmo, class: 'form-control' %>
 			</div>

 			<div class="col-md-4">
	 			<%= titu.label :numnotaria, "Número notaría escritura:" %>
	 			<%= titu.text_field :numnotaria, class: 'form-control' %>
 			</div>

 			<div class="col-md-4">
	 			<%= titu.label :ciuescritura, "Ciudad de escritura:" %>
	 			<%= titu.select :ciuescritura, AVALUOS_RURALS['CITIES'].collect {|p| [p]}, {include_blank: true}%>
 			</div>
 		</div>

 		<div class="row">
 			<%= titu.label :fecha, "Fecha de escritura:" %>
	 		<%= titu.text_field :fecha, class: 'form-control' %>
 		</div>
 		<div class="row">
 			<div class="col-md-12">
	 			<%= titu.hidden_field :latitude,  id: 'latitude' %>
	 			<%= titu.hidden_field :longitude , id: 'longitude' %>
 			</div>
 		</div>
		<h4 class='text-left'><b>Georreferenciación</b></h4>
 		<% if !(titu.object.latitude && titu.object.longitude).nil? %>
 			<div id="map"></div>
		<% end %>
		
</div>
	
