
<div>
	<%= value.label :actualidad, "Actualidad Edificadora:"	%>
	<%= value.text_area :actualidad, class: 'form-control', :cols => 8, :rows => 8 %>
</div>

<div class="titu-margin">
	<%= value.label :comportamiento, "Comportamiento oferta y demanda:"	%>
	<%= value.text_area :comportamiento, class: 'form-control', :cols => 5, :rows => 5 %>
</div>

<div class="titu-margin">
	<%= value.label :tiemepo, "Tiempo esperado de comercialización (en meses):"	%>
	<%= value.text_field :tiempo, class: 'form-control', :cols => 5, :rows => 5 %>
</div>

<h4 class='text-left'><b>Valor Razonable</b></h4>
<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-hover" id="basicTable">
		  <thead>
		    <tr>
		      <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
				Comman Practice Followed
				-->
		      <th style="width:20%">Descripcion</th>
		      <th style="width:10%">Nombre</th>
		      <th style="width:15%">Unidad de medida</th>
		      <th style="width:10%">Area</th>
		      <th style="width:15%">Valor unitario</th>
		      <th style="width:15%">Valor Total	</th>
		      <th style="width:10%">Porcentaje </th>	
		    </tr>
		  </thead>
		  <% if !@evaluates.nil?%>
			  <% @evaluates.each do |e| %>
				  <tbody>
				    <tr>
				      <td class="v-align-middle">
				        <p><%= e.descripcion %></p>  
				      </td>
				      <td class="v-align-middle ">
				        <p>
				          <%= e.nombre%>
				        </p>
				      </td>
				      <td class="v-align-middle">
				        <p>
				          <%= e.unidad%>
				        </p>
				      </td>
				      <td class="v-align-middle">
				         <%= e.area%>
				      </td>
				      <td class="v-align-middle">
				       <%= e.unitario%>
				      </td>
				      <td class="v-align-middle">
				    		<p id='vtotal'></p>
				      </td>
				      <td class="v-align-middle">
				    		<p id='porcent'>jijijii</p>
				      </td>
				    </tr>
					<% end %>
					<tr>
					  <td class="v-align-middle"></td>
				    <td class="v-align-middle "></td>
				    <td class="v-align-middle"></td>
				    <td class="v-align-middle"></td>
				    <td class="v-align-middle">Valor Total:</td>
						<td class="v-align-middle">
							<p id='suma'></p>
				 		</td>
				 	</tr> 
				</tbody>
			<% end %>
		</table> 
	</div>
</div>

<div class="text-left">
	<a href="" class="add btn btn-default">Agregar Valor Razonable</a>
</div>
<div class="items">
  <%= value.nested_fields_for :evaluates, html: {class: "evaluate"}  do |e|%>
    <fieldset class="item">
      <div class="row">
        <div class="col-md-2">
          <%= e.label :descripcion, 'Descripción' %>
          <%= e.select :descripcion, AVALUOS_RURALS['RAZONABLE'].collect {|p| [p]}, {include_blank: true} %>
        </div>
        <div class="col-md-3">
          <%= e.label :nombre, 'Nombre' %>
          <%= e.text_field :nombre, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= e.label :unidad, 'Unidad de medida' %>
          <%= e.select :unidad, AVALUOS_RURALS['UNIDAD'].collect {|p| [p]}, {include_blank: true} %>
        </div>
        <div class="col-md-2">
          <%= e.label :area, 'Area' %>
          <%= e.text_field :area, class: 'form-control'  %>
        </div>
        <div class="col-md-2">
          <%= e.label :unitario, 'Valor unitario' %>
          <%= e.text_field :unitario, class: 'form-control' %>
        </div>
        <div class='col-md-1'>
          <a href="" class="btn btn-danger remove titu-margin fa fa-trash-o"></a>
          <%= e.hidden_field :id %>
          <%= e.hidden_field :_destroy %> 
        </div> 
      </div>
    </fieldset>    
  <% end %>
</div>

<div class="row titu-margin">
	<div class="col-md-4">
		<%= value.label :valoruvr, "Valor UVR"	%>
		<%= value.text_field :valoruvr, class: 'form-control', id: 'vuvr', :disabled => true %>	
	</div>
	<div class="col-md-4">
		<%= value.label :avaluouvr, "Valor avaluo en UVR"	%>
		<%= value.text_field :avaluouvr, class: 'form-control', id:'valueuvr' %>	
	</div>
	<div class="col-md-4">
		<%= value.label :vasegurable, "Valor asegurable"	%>
		<%= value.text_field :vasegurable, class: 'form-control' %>	
	</div>
</div>

<div class="row titu-margin">
	<div class="col-md-3">
		<%= value.label :vterreno, "Valor proporcional del terreno"	%>
		<%= value.text_field :vterreno, class: 'form-control' %>	
	</div>
	<div class="col-md-3">
		<%= value.label :iterreno, "Valor integral del terreno"	%>
		<%= value.text_field :iterreno, class: 'form-control' %>	
	</div>
	<div class="col-md-3">
		<%= value.label :vconstruccion, "Valor proporcional de la construcción"	%>
		<%= value.text_field :vconstruccion, class: 'form-control' %>	
	</div>
	<div class="col-md-3">
		<%= value.label :vconstruccion, "Valor integral de la construcción"	%>
		<%= value.text_field :vconstruccion, class: 'form-control' %>	
	</div>
</div>


<div class="row titu-margin">
	<div class="col-md-2">
		<%= value.label :vrhonorarios, "Valor honorarios"	%>
		<%= value.text_field :vrhonorarios, class: 'form-control' %>		
	</div>
	<div class="col-md-2">
		<%= value.label :Gtraslado, "Gastos de traslado"	%>
		<%= value.text_field :Gtraslado, class: 'form-control' %>		
	</div>
	<div class="col-md-3">
		<%= value.label :subhonorarios, "Sub-total honorarios"	%>
		<%= value.text_field :subhonorarios, class: 'form-control' %>		
	</div>
	<div class="col-md-2">
		<%= value.label :ihonorarios, "Iva honorarios	"	%>
		<%= value.text_field :ihonorarios, class: 'form-control' %>		
	</div>
	<div class="col-md-3">
		<%= value.label :total, "Total honorarios"	%>
		<%= value.text_field :total, class: 'form-control' %>		
	</div>
</div>

<div class="titu-margin">
	<%= value.label :garantia, "Calificación garantia", class: 'inline-label'	%>
	<%= value.select :garantia, AVALUOS_RURALS['FAV'].collect {|p| [p]}, {include_blank: true} %>		
</div>

<div class="titu-margin">
	<%= value.label :observacion, "Observaciones"	%>
	<%= value.text_area :observacion, class: 'form-control', cols: 5 , rows: 5 %>		
</div>

<div class="row titu-margin">
	<div class="col-md-6">
		<%= value.label :danexo, "Dirección anexos"	%>
		<%= value.text_field :danexo, class: 'form-control' %>		
	</div>
	<div class="col-md-6">
		<%= value.label :odireccion, "Otras direcciones"	%>
		<%= value.text_field :odireccion, class: 'form-control' %>		
	</div>
</div>

<script>
	 if ($("[id*=area]")) {
    var vtotal = $("[id*=vtotal]");
    var suma = 0;
    var comparative = parseFloat($("[id*=_unitario]")[0].value);
    var mayor = 0;
    var menor = 0;
    var valoruvr = $('#vuvr').val('243.2294');
    var uvr_float = parseFloat(valoruvr.val());
    var valueuvr = $('#vuvr').val();
    var current = 0 ;
    var current_porcentaje = 0;
    var length = $("[id*=_unitario]").length;
    var valor_total = 0;
    var currentvtotal;
    var area = $("[id*=area]");

    for (var i=0; i < ($("[id*=_unitario]")).length; i++) { 
   	  unitario = $("[id*=_unitario]");
      var times = parseInt($("[id*=_unitario]").length);
      var area = parseInt($("[id*=_area]").val());
      var unit = parseInt($("[id*=_unitario]").val());
      total = parseFloat($("[id*=_unitario]")[i].value) * parseFloat($("[id*=_area]")[i].value);
      var vtotal = $("[id*=vtotal]")[i];
      $(vtotal).append(total);
    }

    //Total value loop
    for (var i=0; i < length; ++i) {
      current = parseFloat($("[id*=_unitario]")[i].value);
      suma +=parseFloat($("[id*=_unitario]")[i].value);
    }
    
    var totaluvr= suma/valueuvr;

    var h = parseFloat(totaluvr.toFixed(3));
    $('#valueuvr').val(h);
    //valor total function
    $.each($("[id*=vtotal]"), function(index,value) {
      valor_total +=parseFloat($(this).text());
      current_porcentaje =parseFloat(parseFloat($(this).text())/valor_total)*100;
    });
    $('#suma').text(valor_total);

    //porcentaje function
    $.each($("[id*=vtotal]"), function(index,value) {
      current_porcentaje =parseFloat(parseFloat($(this).text())/valor_total)*100;
      current_porcentaje = current_porcentaje.toFixed(2);
      $(this).parent().next().find('#porcent').text(current_porcentaje);
    });  
  }
	
</script>